.profile__info {
    max-width: 336px;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 890px) {
	.profile__info {
        margin-top: 26px;
        margin-left: 0;
    }
}

@media screen and (max-width: 540px) {
	.profile__info {
        max-width: 282px;
        margin-top: 26px;
        margin-left: 0;
    }
}