.profile__add {
    width: 150px;
    height: 50px;
    margin: 0;
    margin-left: 244px;
    padding: 0;
    background-image: url(../../../images/add_button.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    object-fit: contain;
    cursor: pointer;
    opacity: 1;
    transition: opacity  0.5s linear;   
}

.profile__add:hover {
    opacity: 0.5;
  }

@media screen and (max-width: 890px) {
	.profile__add {
        margin-left: 0;
        margin-top: 36px;
    }
}

@media screen and (max-width: 540px) {
	.profile__add {
        width: 282px;
        min-height: 50px;
        margin-top: 36px;
        margin-left: 19px;
        margin-right: 19px;
    }
}