.login__title {
    max-width: 358px;
    height: 29px;
    margin: 0 auto;
    padding: 0;
    padding-top: 179px;
    padding-bottom: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}