.element__delete {
    position: absolute;
    width: 18px;
    height: 19.3px;
    margin: 0;
    padding: 0;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border: none;
    background-image: url(../../../images/delete_group.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    align-items: center;
    cursor: pointer;
    opacity: 1;
    transition: opacity  0.5s linear;
}

.element__delete:hover {
    opacity: 0.6;
}